
            {% extends 'blog/base.html' %}

            {% block main_area %}

            <h1>Blog {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}</h1>

            {% if post_list.exists %}

            {% for p in post_list %}
                    <!-- Blog post-->
                    <div class="card mb-4" id="post-{{ p.pk }}">
                        {% if p.head_image %}
                        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{[ p }} head image">
                        {% else %}
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/750/350" alt="random_image">
                        {% endif %}
                        <div class="card-body">
                            {% if p.category %}
                                <span class="badge badge-secondary float-right">{{ p.category }}</span>
                            {% else %}
                                <span class="badge badge-secondary float-right">미분류</span>
                            {% endif %}
                            <h2 class="card-title">{{ p.title }}</h2>
                            <h5 class="text-muted">{{ p.hook_text }}</h5>
                            <p class="card-text">{{ p.content | truncatechars:45 }}</p>

                            {% if p.tags.exists %}
                                <i class="fas fa-tags"></i>
                                {% for tag in p.tags.iterator %}
                                    <a href="{{ tag.get_absolute_url }}">
                                        <span class="badge badge-pill badge-light">{{ tag }}</span>
                                    </a>
                                {% endfor %}
                                <br/>
                                <br/>
                            {% endif %}

                            <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read more →</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on {{ p.created_at }} by
                            <a href="#">{{ p.author | upper }}</a>
                        </div>
                    </div>
            {% endfor %}
            {% else %}
                <h3>아직 게시물이 음따!!</h3>
            {% endif %}
            <!-- Pagination-->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            {% endblock %}
                </div>
                <div class="col-md-4 col-lg-3">
                    <!-- Search widget-->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                </div>


        <!-- Side widgets-->
        <div class="col-lg-4">

        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Do It Django A to Z 2022
        </p>
    </div>
    <!-- /.container-->
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
    </body>
</html>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

</body>
</html>